#ignore virtual environment
.venv
.env

#ignore Python cache files
__pycache__/
*.py[cod]
app.log

#ignore client secret files
client_secret.json
app_secret_key.json

#ignore database files
instance/*.db